@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family: "Nunito", sans-serif;
  color: rgba(255, 255, 255, 0.87);
}
body{
  height: 100%;
  background-image: url("assets/bg.png");
  background-size: cover;
  background-position: center;
  background-color: white;
}
